{% extends 'base.html' %}

{% block content %}
    <h1>Редактирование объявления</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        window.onload = function() {
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href.split('?')[0]);
            }
        }
    </script>
{% endblock %}
